{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> {{open_source.projectname}} : {{open_source.tag}} </h3>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5>Maintained by: {{ open_source.author }}</h5><br/>
                    
                    <form action="{% url 'like' open_source.fullname %}" method="POST">{% csrf_token %}
                      <a href="mailto:{{ open_source.contact }}" class="btn btn-outline-secondary btn-sm">
                        <i class="mdi mdi-email text-primary"></i>Contact Maintainer
                      </a>
                      <button type="submit" class="btn btn-outline-secondary btn-sm" name="opensource_id", value="{{ open_source.id }}">
                        <i class="mdi mdi-heart-outline text-danger"></i>{{ total_likes }} Likes
                      </button>
                    </form>
                    <br/>
                    <blockquote class="blockquote blockquote-primary"><p>{{open_source.description}}</p></blockquote>                    
                    {% for tag in open_source.tags.all %}<strong style="color:red;">#</strong>{{tag}} {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-lg-12 grid-margin stretch-card">
                <iframe style="width: 100vw;height: 50vh;position: relative;" src={{url}} frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
  
              {% for comment in comments %}
              <div class="card-body">
                <h5>{{ comment.user }} - {{ comment.date }}</h5>
                  {{comment.comment}}
              </div>
              {% endfor %}

            <form class="forms-sample" method="POST">{% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" name="comment" id="comment" cols="10" rows="10" placeholder="Enter your comments."></textarea>
              </div>
              <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
{% endblock %}