        {% extends 'base.html' %}
        {% load static %}
        {% block content %}
        
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card">
                  <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">
                      <div class="col-4 col-sm-3 col-xl-2">
                        <img src="{% static 'assets/images/dashboard/Group126@2x.png' %}" class="gradient-corona-img img-fluid" alt="">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                        <h4 class="mb-1 mb-sm-0">광고 들어갈 자리</h4>
                        <p class="mb-0 font-weight-normal d-none d-sm-block">광고 들어갈 자리</p>
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="https://www.bootstrapdash.com/product/corona-admin-template/" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Upgrade to PRO</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class ="row">
                <div class="col-sm-4 grid-margin"> 
                    <h3>Most Popular Projects</h3>
                </div>
            </div>
            <div class="row">
              {% for opensource in popular %}
              <div class="col-sm-4 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h5>{% for tag in opensource.tags.all %}<strong style="color:#fc424a;">#</strong>{{tag}} {% endfor %}</h5>
                    <div class="row">
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <a href="{% url 'container' opensource.fullname %}"><h2 class="mb-0">{{ opensource.projectname }}:{{opensource.tag}}</h2></a>
                        </div>
                      </div>
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <div class="icon-md mdi mdi-heart text-danger ml-auto"> {{ opensource.total_likes }}</div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row ">
              <div class="col-12 grid-margin">
                
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Open sources you may like</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Image Name</th>
                            <th>Tag</th>
                            <th>Author</th>
                            <th>Uploaded At (GMT)</th>
                            <th>Likes</th>
                            {% if user.is_authenticated %}
                            <th>Try</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for open_source in user_liked_tagged_open_source %}
                          <tr>
                            <td>{{open_source.projectname}}</td>
                            <td>{{open_source.tag}}</td> 
                            <td>{{open_source.author}}</td>
                            <td>{{open_source.uploaded_at}}</td> 
                            <td class="text-danger"><i class="mdi mdi-heart"></i> {{open_source.total_likes}} </td>
                            <td><a href="{% url 'container' open_source.fullname %}"><label class="badge badge-success">Try</label></a></td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td style="color:#fc424a;">please press like button for recommendations</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <br/>
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recently Added</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Image Name</th>
                            <th>Tag</th>
                            <th>Author</th>
                            <th>Uploaded At (GMT)</th>
                            <th>Likes</th>
                            {% if user.is_authenticated %}
                            <th>Try</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for open_source in recent %}
                          <tr>
                            <td>{{open_source.projectname}}</td>
                            <td>{{open_source.tag}}</td> 
                            <td>{{open_source.author}}</td>
                            <td>{{open_source.uploaded_at}}</td> 
                            <td class="text-danger"><i class="mdi mdi-heart"></i> {{open_source.total_likes}} </td>
                            {% if user.is_authenticated %}
                            <td><a href="{% url 'container' open_source.fullname %}"><label class="badge badge-success">Try</label></a></td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>




          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        {% endblock %}