        {% extends 'base.html' %}
       {% load static %}
        {% block content %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Install with Dockerfile </h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">upload your dockerfile</h4>
                    {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                      </div>
                      {% endfor %}
                    {% endif %}
                    <form class="forms-sample" enctype="multipart/form-data" action="{% url 'dockerfile' %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" name="author" id="author" placeholder="Author">
                      </div>
                      <div class="form-group">
                        <label for="projectname">Project Name</label>
                        <input type="text" class="form-control" name="projectname" id="projectname" placeholder="Project">
                      </div>
                      <div class="form-group">
                        <label for="tag">Tag</label>
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Tag">
                      </div>
                      <div class="form-group">
                        <label for="contact">Contant Point</label>
                        <input type="text" class="form-control" name="contact" id="contanct" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="description">Project description</label>
                        <textarea class="form-control" name="description" id="description" placeholder="Project Description" rows="10"></textarea>
                      </div>
                      <div class="form-group">
                        <label>Dockerfile upload</label>
                        <input type="file" class="file-upload-default" name="dockerfile">
                        <div class="input-group col-xs-12">
                          <input type="file" class="form-control file-upload-info" name="dockerfile" id="dockerfile" placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
       {% endblock %}