        {% extends 'base.html' %}
       {% load static %}
        {% block content %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Install with installation script </h3>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">choose your os and enter installation script</h4>
                    {% if messages %}
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                      </div>
                      {% endfor %}
                    {% endif %}
                    <form class="forms-sample" enctype="multipart/form-data" action="{% url 'script' %}" method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" name="author" id="author" placeholder="Author">
                      </div>
                      <div class="form-group">
                        <label for="projectname">Project Name</label>
                        <input type="text" class="form-control" name="projectname" id="projectname" placeholder="Project">
                      </div>
                      <div class="form-group">
                        <label for="tag">Tag</label>
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="Tag">
                      </div>
                      <div class="form-group">
                        <label for="contact">Contant Point</label>
                        <input type="text" class="form-control" name="contact" id="contanct" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="description">Project description</label>
                        <textarea class="form-control" name="description" id="description" rows="10"></textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleSelectGender" name="baseos">Base OS</label>
                        <select class="form-control" name="baseos" id="baseos">
                          <option>ubuntu:latest</option>
                          <option>ubuntu:18.04</option>
                          <option>ubuntu:16.04</option>
                          <option>centos:latest</option>
                          <option>centos:8</option>
                          <option>centos:7</option>
                          <option>busybox:latest</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Enter your installation script</label>
                        <textarea class="form-control" name="installationscript" id="installationscript" rows="10" rows="10" placeholder="Enter your installation script line by line. Be sure not to have typo mistakes."></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary me-2">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
       {% endblock %}